USE [master]
GO
CREATE DATABASE [ProductManagenent]
GO
USE [ProductManagenent]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 9/30/2024 8:30:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[MaSp] [nvarchar](100) NOT NULL,
	[TenSp] [nvarchar](100) NULL,
	[SoLuong] [bigint] NULL,
	[DonGia] [bigint] NULL,
	[XuatXu] [nvarchar](100) NULL,
	[NgayHetHan] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Product] ([MaSp], [TenSp], [SoLuong], [DonGia], [XuatXu], [NgayHetHan]) VALUES (N'sp1', N'Kẹo đường', 5, 40000, N'Nhật Bản', CAST(N'2024-09-30' AS Date))
INSERT [dbo].[Product] ([MaSp], [TenSp], [SoLuong], [DonGia], [XuatXu], [NgayHetHan]) VALUES (N'sp2', N'Kẹo que', 5, 30000, N'Việt Nam', CAST(N'2024-09-30' AS Date))
INSERT [dbo].[Product] ([MaSp], [TenSp], [SoLuong], [DonGia], [XuatXu], [NgayHetHan]) VALUES (N'sp3', N'Bánh gấu', 5, 30000, N'Hàn Quốc', CAST(N'2024-09-30' AS Date))
GO
USE [master]
GO
